{% extends 'base.html.twig' %}

{% block body %}
    <h2>Jobs</h2>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Vehicle</th>
            <th>Task</th>
            <th>Mileage</th>
            <th>Completed On</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td><a href="{{ path('vehicle_show', {'id':job.vehicle.id}) }}">{{ job.vehicle.name }}</a></td>
                <td>{{ job.task.name }}</td>
                <td>{{ job.mileage|number_format }} {{ job.vehicle.mileageType }}</td>
                <td>{{ job.createdAt|date('F j, Y') }}</td>
                <td style="width: 1%; white-space: nowrap;">
                    <a href="{{ path('job_show', {'id':job.id}) }}" class="btn btn-xs btn-info"><span
                                class="fa fa-eye"></span></a>
                    <a href="{{ path('job_edit', {'id':job.id}) }}"
                       class="btn btn-xs btn-success editJob {% if job.status != 'A' %}disabled{% endif %}"><span
                                class="fa fa-pencil"></span></a>
                    <a class="btn btn-xs btn-danger deleteJob {% if job.status != 'A' %}disabled{% endif %}"
                       jobId="{{ job.id }}"
                       ng-click="showConfirm($event, {{ job.id }})">
                        <span class="fa fa-trash"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#Pagination#}
    <div class="navigation text-center">
        {{ knp_pagination_render(jobs) }}
    </div>

    <div id="dialog" title="Delete the Job?" style="display: none;">
        <p></p>
    </div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.deleteJob').click(function () {

                var jobId = $(this).attr("jobId");

                $("#dialog").find("p").html('<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This Job will be permanently deleted and cannot be recovered. Are you sure?');

                openDeleteDialog("#dialog", "Delete the Job?", "/jobs/" + jobId, afterDelete, jobId);
            });
        });

        function afterDelete(id) {
            $('.deleteJob[jobId=' + id + ']').addClass('disabled');
            $('.deleteJob[jobId=' + id + ']').prev().addClass('disabled');
        }
    </script>

{% endblock %}
