{% extends 'base.html.twig' %}

{% block body %}
    <h2>Jobs</h2>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Vehicle</th>
            <th>Task</th>
            <th>Mileage</th>
            <th>Completed On</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.vehicle.year }} {{ job.vehicle.make }} {{ job.vehicle.model }}</td>
                <td>{{ job.task.name }}</td>
                <td>{{ job.mileage|number_format }} {{ job.vehicle.mileageType }}</td>
                <td>{{ job.createdAt|date('F j, Y') }}</td>
                <td style="width: 1%; white-space: nowrap;">
                    <a href="{{ path('job_show', {'id':job.id}) }}" class="btn btn-xs btn-success"><span
                                class="fa fa-eye"></span></a>
                    <a href="{{ path('job_edit', {'id':job.id}) }}" class="btn btn-xs btn-success"><span
                                class="fa fa-pencil"></span></a>
                    {% if job.status == 'A' %}
                        <a class="btn btn-xs btn-danger deleteJob" jobId="{{ job.id }}"
                           ng-click="showConfirm($event, {{ job.id }})">
                            <span class="fa fa-trash"></span></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#Pagination#}
    <div class="navigation text-center">
        {{ knp_pagination_render(jobs) }}
    </div>

{% endblock %}
