{% extends 'base.html.twig' %}

{% block title %}Job Details{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        table.thisTable {
            width: auto;
        }

        table.thisTable > tbody > tr > th {
            padding-right: 50px !important;
        }
    </style>
{% endblock %}


{% block body %}
    <h1>Job Details</h1>

    <table class="table table-hover thisTable">
        <tbody>
        <tr>
            <th>Vehicle</th>
            <td>
                <a href="{{ path('vehicle_show', {'id':job.vehicle.id}) }}">{{ job.vehicle.name }}</a>
            </td>
        </tr>
        <tr>
            <th>Mileage</th>
            <td>{{ job.mileage }} {{ job.vehicle.mileageType }}</td>
        </tr>
        <tr>
            <th>Completed</th>
            <td>{{ job.createdAt|date('F j, Y') }} by {{ job.createdBy.username }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ job.status }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}
