{% extends 'base.html.twig' %}

{% block title %}Job Details{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        table.customTable {
            width: auto;
        }

        table.customTable > tbody > tr > th {
            padding-right: 50px !important;
        }
    </style>
{% endblock %}


{% block body %}
    <h1>Job Details</h1>

    <table class="table table-hover thisTable">
        <tbody>
        <tr>
            <th>Vehicle</th>
            <td>
                <a href="{{ path('vehicle_show', {'id':job.vehicle.id}) }}">{{ job.vehicle.name }}</a>
            </td>
        </tr>
        <tr>
            <th>Mileage</th>
            <td>{{ job.mileage }} {{ job.vehicle.mileageType }}</td>
        </tr>
        <tr>
            <th>Completed</th>
            <td>{{ job.createdAt|date('F j, Y') }} by {{ job.createdBy.username }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ job.status }}</td>
        </tr>
        </tbody>
    </table>

    <div id="dialog" title="Delete the Job?" style="display: none;">
        <p></p>
    </div>
{% endblock %}

{% block rightSidebar %}
    <a
            id="editobButton"
            href="{{ path('job_edit', {'id':job.id}) }}"
            class="btn btn-primary btn-block {% if job.status == 'D' %}disabled{% endif %}"
            role="button">Edit</a>
    <a
            id="deleteJobButton"
            {#href="{{ path('job_delete', {'id':job.id}) }}"#}
            class="btn btn-danger btn-block {% if job.status == 'D' %}disabled{% endif %}"
            role="button">Delete</a>
    <a
            href="{{ path('job_new') }}"
            class="btn btn-default btn-block"
            role="button">New Job</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.deleteJob').click(function () {

                $("#dialog").find("p").html('<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This Job will be permanently deleted and cannot be recovered. Are you sure?');

                openDeleteDialog("#dialog", "Delete the Job?", "/jobs/" + {{ job.id }}, afterDelete);
            });
        });

        function afterDelete() {
            $('#deleteJobButton').addClass('disabled');
            $('#editJobButton').addClass('disabled');
        }
    </script>

{% endblock %}

