{% extends 'base.html.twig' %}

{% block body %}
    <h2>Task Fields</h2>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Field</th>
            <th>Task</th>
            <th>Created</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for field in taskFields %}
            <tr>
                <td>{{ field.name }}</td>
                <td><a href="{{ path('task_show', {'id':field.task.id}) }}">{{ field.task.name }}</a></td>
                <td>{{ field.createdAt|date("F j, Y") }} by {{ field.createdBy.username }}</td>
                <td style="width: 1%; white-space: nowrap;">
                    <a href="{{ path('taskfield_show', {'id':field.id}) }}" class="btn btn-xs btn-success"><span
                                class="fa fa-eye"></span></a>
                    <a href="{{ path('taskfield_edit', {'id':field.id}) }}" class="btn btn-xs btn-success"><span
                                class="fa fa-pencil"></span></a>
                    {#{% if (task.status == 'A' and task.type == 'Custom') %}#}
                    {% if field.status == 'A' %}
                        <a class="btn btn-xs btn-danger deleteTask" taskfieldId="{{ field.id }}"
                           title="Delete this Task Field"
                           ng-click="showConfirm($event, {{ field.id }})"><span
                                    class="fa fa-trash"></span></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="dialog" title="Delete the Task Field?" style="display: none;">
        <p></p>
    </div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.deleteTask').click(function () {
                var taskfieldId = $(this).attr("taskfieldId");
                var deleteButton = $(this);

                $("#dialog").find("p").html('<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This Task Field will be permanently deleted and cannot be recovered. Are you sure?');

                openDeleteDialog("#dialog", "/taskfields/" + taskfieldId, deleteButton);
            });
        });
    </script>

{% endblock %}
