{% extends 'base.html.twig' %}

{% block title %}Task Field: {{ field.name }}{% endblock %}

{% block body %}
    <h2>Task Field: {{ field.name }}</h2>

    <table class="table table-hover customTable">
        <tbody>
        <tr>
            <th>Name:</th>
            <td>{{ field.name }}</td>
        </tr>
        <tr>
            <th>Task:</th>
            <td><a href="{{ path('task_show', {'id':field.task.id}) }}">{{ field.task.name }}</a></td>
        </tr>
        <tr>
            <th>Created:</th>
            <td>{{ field.createdAt|date('F j, Y') }} by {{ field.createdBy }}</td>
        </tr>
        <tr>
            <th>Status:</th>
            <td>{{ field.status }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}

{% block rightSidebar %}
    <a
            href="{{ path('taskfield_list') }}"
            class="btn btn-info btn-block"
            role="button">View All</a>
    <a
            id="editFieldButton"
            href="{{ path('taskfield_edit', {'id':field.id}) }}"
            class="btn btn-warning btn-block {% if field.status == 'D' %}disabled{% endif %}"
            role="button">Edit</a>
    <a
            id="deleteFieldButton"
            {#href="{{ path('taskfield_delete', {'id':field.id}) }}"#}
            class="btn btn-danger btn-block {% if field.status == 'D' %}disabled{% endif %}"
            role="button">Delete</a>
    <a
            href="{{ path('taskfield_new', {'id':field.id}) }}"
            class="btn btn-success btn-block {% if field.status == 'D' %}disabled{% endif %}"
            role="button">New</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {

            $('#deleteFieldButton').click(function () {

                $("#dialog").find("p").html('<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This Field will be permanently deleted and cannot be recovered. Are you sure?');

                openDeleteDialog("#dialog", "Delete the Field?", '{{ path('taskfield_delete', {'id':field.id}) }}', afterDelete, {{ field.id }});
            });
        });

        function afterDelete(id) {
            $('#editFieldButton').addClass('disabled');
            $('#deleteFieldButton').addClass('disabled');
        }
    </script>

{% endblock %}
