{% extends 'base.html.twig' %}

{% block title %}Task Field: {{ field.name }}{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        table.customTable {
            width: auto;
        }

        table.customTable > tbody > tr > th {
            padding-right: 50px !important;
        }
    </style>
{% endblock %}

{% block body %}
    <h2>Task Field: {{ field.name }}</h2>

    <table class="table table-hover thisTable">
        <tbody>
        <tr>
            <th>Name:</th>
            <td>{{ field.name }}</td>
        </tr>
        <tr>
            <th>Task:</th>
            <td><a href="{{ path('task_show', {'id':field.task.id}) }}">{{ field.task.name }}</a></td>
        </tr>
        <tr>
            <th>Created:</th>
            <td>{{ field.createdAt|date('F j, Y') }} by {{ field.createdBy }}</td>
        </tr>
        <tr>
            <th>Status:</th>
            <td>{{ field.status }}</td>
        </tr>
        </tbody>
    </table>

    <div id="dialog" title="Delete the Field?" style="display: none;">
        <p></p>
    </div>
{% endblock %}

{% block rightSidebar %}
    <a
            href="{{ path('taskfield_edit', {'id':field.id}) }}"
            class="btn btn-primary btn-block {% if field.status == 'D' %}disabled{% endif %}"
            role="button">Edit</a>
    <a
            {#href="{{ path('taskfield_delete', {'id':field.id}) }}"#}
            class="btn btn-danger btn-block deleteField {% if field.status == 'D' %}disabled{% endif %}"
            role="button">Delete</a>
    <a
            href="{{ path('taskfield_new', {'id':field.id}) }}"
            class="btn btn-default btn-block {% if field.status == 'D' %}disabled{% endif %}"
            role="button">New Field</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.deleteField').click(function () {
                var deleteButton = $(this);

                $("#dialog").find("p").html('<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This Field will be permanently deleted and cannot be recovered. Are you sure?');

                openDeleteDialog("#dialog", "Delete the Field?", "/taskfields/" + {{ field.id }}, deleteButton);
            });
        });
    </script>

{% endblock %}
