{% extends 'base.html.twig' %}

{% block body %}
    <h2>Categories</h2>

    <div ng-app="AdminCategoryApp" ng-controller="AdminCategoryController">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Parent</th>
                <th>Created</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>{% if category.parentCategory != null %}{{ category.parentCategory.name }} {% endif %}</td>
                    <td>{{ category.createdAt|date ('F j, Y') }}</td>
                    <td style="width: 1%; white-space: nowrap;">
                        <a href="{{ path('category_show', {'id':category.id}) }}" class="btn btn-xs btn-info"><span
                                    class="fa fa-eye"></span></a>
                        <a href="{{ path('category_edit', {'id':category.id}) }}"
                           class="btn btn-xs btn-success editCategory {% if category.status != 'A' %}disabled{% endif %}"><span
                                    class="fa fa-pencil"></span></a>

                        <a class="btn btn-xs btn-danger deleteCategory {% if category.status != 'A' %}disabled{% endif %}"
                           categoryId="{{ category.id }}"
                           title="Delete this Category"
                           ng-click="showConfirm($event, {{ category.id }})">
                            <span class="fa fa-trash"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="dialog" title="Delete the Category?" style="display: none;">
        <p></p>
    </div>
{% endblock %}

{% block javascripts %}
    {#<script type="application/javascript" src="{{ asset('assets/javascript/adminCategory.js') }}"></script>#}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.deleteCategory').click(function () {

                var categoryId = $(this).attr("categoryId");
                $("#dialog").find("p").html('<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This Category will be permanently deleted and cannot be recovered. Are you sure?');

                openDeleteDialog("#dialog", "Delete the Category?", "/categories/" + categoryId, afterDelete, categoryId);
            });
        });

        function afterDelete(id) {
            $('.deleteCategory[categoryId=' + id + ']').addClass('disabled');
            $('.deleteCategory[categoryId=' + id + ']').prev().addClass('disabled');
        }

    </script>
{% endblock %}

