{% extends 'base.html.twig' %}

{% block body %}
    <h2>Categories</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Parent</th>
            <th>Created</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
                <td>{% if category.parentCategory != null %}{{ category.parentCategory.name }} {% endif %}</td>
                <td>{{ category.createdAt|date }}</td>
                <td style="width: 1%; white-space: nowrap;">
                    <a href="" class="btn btn-xs btn-success"><span
                                class="fa fa-eye"></span></a>
                    <a href="{{ path('category_edit', {'id':category.id}) }}" class="btn btn-xs btn-success"><span
                                class="fa fa-pencil"></span></a>
                    <a href="#" class="btn btn-xs btn-danger"
                       ng-click="showConfirm($event)"><span
                                class="fa fa-trash"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}

{% endblock %}
