{% extends 'base.html.twig' %}

{% block body %}
    <h2>Categories</h2>

    <div ng-app="AdminCategoryApp" ng-controller="AdminCategoryController">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Parent</th>
                <th>Created</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>{% if category.parentCategory != null %}{{ category.parentCategory.name }} {% endif %}</td>
                    <td>{{ category.createdAt|date }}</td>
                    <td style="width: 1%; white-space: nowrap;">
                        <a href="{{ path('category_show', {'id':category.id}) }}" class="btn btn-xs btn-success"><span
                                    class="fa fa-eye"></span></a>
                        <a href="{{ path('category_edit', {'id':category.id}) }}" class="btn btn-xs btn-success"><span
                                    class="fa fa-pencil"></span></a>
                        {% if category.status == 'A' %}
                            <a class="btn btn-xs btn-danger deleteCategory" categoryId="{{ category.id }}"
                               title="Delete this Category"
                               ng-click="showConfirm($event, {{ category.id }})">
                                <span class="fa fa-trash"></span></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="dialog" title="Delete the Category?" style="display: none;">
        <p></p>
    </div>
{% endblock %}

{% block javascripts %}
    {#<script type="application/javascript" src="{{ asset('assets/javascript/adminCategory.js') }}"></script>#}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.deleteCategory').click(function () {
                var categoryId = $(this).attr("categoryId");
                var deleteButton = $(this);

                $("#dialog").find("p").html('<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This Category will be permanently deleted and cannot be recovered. Are you sure?');

                openDeleteDialog("#dialog", "/cateores/" + categoryId, deleteButton);
            });
        });
    </script>
{% endblock %}

