{% extends 'base.html.twig' %}

{% block body %}
    <h2>Categories</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Compensation</th>
            <th>Location</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.title }}</td>
                <td>{{ job.description|truncate(50) }}</td>
                <td>{{ job.compensation }}</td>
                <td>{{ job.location }}</td>
                <td style="width: 1%; white-space: nowrap;">
                    <a href="{{ path('admin_job_show', {'id':job.id}) }}" class="btn btn-xs btn-success"><span
                                class="fa fa-eye"></span></a>
                    <a href="{{ path('admin_job_edit', {'id':job.id}) }}" class="btn btn-xs btn-success"><span
                                class="fa fa-pencil"></span></a>
                    <a href="#" class="btn btn-xs btn-danger"
                       ng-click="showConfirm($event)"><span
                                class="fa fa-trash"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}

{% endblock %}
