{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        table.thisTable {
            width: auto;
        }

        table.thisTable > tbody > tr > th {
            padding-right: 50px !important;
        }
    </style>
{% endblock %}

{% block body %}
    <h2>{{ category.name }}</h2>

    <table class="table table-hover thisTable">
        <tr>
            <th>Name:</th>
            <td>{{ category.name }}</td>
        </tr>
        <tr>
            <th>Description:</th>
            <td>{{ category.description }}</td>
        </tr>
        <tr>
            <th>Parent Category:</th>
            <td>{% if category.parentCategory != null %}
                    <a href="{{ path('category_show', {'id':category.parentCategory.id}) }}">{{ category.parentCategory.name }}</a>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}
