{% extends 'base.html.twig' %}

{% block title %}Category: {{ category.name }}{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        table.customTable {
            width: auto;
        }

        table.customTable > tbody > tr > th {
            padding-right: 50px !important;
        }
    </style>
{% endblock %}

{% block body %}
    <h2>Category: {{ category.name }}</h2>

    <table class="table table-hover thisTable">
        <tr>
            <th>Name:</th>
            <td>{{ category.name }}</td>
        </tr>
        <tr>
            <th>Description:</th>
            <td>{{ category.description }}</td>
        </tr>
        <tr>
            <th>Parent Category:</th>
            <td>{% if category.parentCategory != null %}
                    <a href="{{ path('category_show', {'id':category.parentCategory.id}) }}">{{ category.parentCategory.name }}</a>
                {% endif %}
            </td>
        </tr>
    </table>

    <div id="dialog" title="Delete the Category?" style="display: none;">
        <p></p>
    </div>
{% endblock %}

{% block rightSidebar %}
    <a
            id="editCategoryButton"
            href="{{ path('category_edit', {'id':category.id}) }}"
            class="btn btn-warning btn-block {% if category.status == 'D' %}disabled{% endif %}"
            role="button">Edit</a>
    <a
            id="deleteCategoryButton"
            {#href="{{ path('category_delete', {'id':category.id}) }}"#}
            class="btn btn-danger btn-block deleteCategory {% if category.status == 'D' %}disabled{% endif %}"
            role="button">Delete</a>
    <a
            href="{{ path('category_new') }}"
            class="btn btn-success btn-block"
            role="button">New</a>
    <br/>
    <a
            id="newTaskButton"
            href="{{ path('task_new', {'category':category.id}) }}"
            class="btn btn-default btn-block {% if category.status == 'D' %}disabled{% endif %}"
            role="button">New Task</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {

            $('#deleteCategoryButton').click(function () {

                $("#dialog").find("p").html('<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This Category will be permanently deleted and cannot be recovered. Are you sure?');

                openDeleteDialog("#dialog", "Delete the Category?", '{{ path('category_delete', {'id':category.id}) }}', afterDelete);
            });
        });

        function afterDelete() {
            $('#deleteCategoryButton').addClass('disabled');
            $('#editCategoryButton').addClass('disabled');
            $('#newTaskButton').addClass('disabled');
        }
    </script>

{% endblock %}

