<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Master Lube</a>
        </div>
        {#<ul class="nav navbar-nav">#}
        {#<li class="active"><a href="{{ path('homepage') }}">Tasks</a></li>#}
        {#<li><a href="#">Page 1</a></li>#}
        {#<li><a href="#">Page 2</a></li>#}
        {#<li><a href="#">Page 3</a></li>#}
        {#</ul>#}
        {% block navbarBody %}
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search for a Vehicle"
                               width="300px">
                    </div>
                    <button id="searchButton" type="submit" class="btn btn-default"> Search</button>
                </form>
            {% endif %}
        {% endblock %}
        <div class="navbar-form navbar-right">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('fos_user_security_logout') }}">Log out</a>&nbsp;&nbsp;&nbsp;
                <a href="#"><span class="glyphicon glyphicon-user"
                                  aria-hidden="true"></span></a>
                {#<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>#}

                {#<div>{{ app.user.username }}</div>#}
                {#<a href="{{ path('fos_user_security_logout') }}" role="button"#}
                {#class="btn btn-default">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}#}
                {#<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>#}
            {% else %}

                <a href="{{ path('fos_user_security_login') }}" role="button"
                   class="btn btn-primary"><span class="glyphicon glyphicon-log-in"
                                                 aria-hidden="true"></span>
                    {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                <a href="{{ path('fos_user_registration_register') }}" role="button"
                   class="btn btn-default">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>

            {% endif %}
        </div>

    </div>
</nav>
