{% set route = app.request.attributes.get('_route') %}

<div class="nav-side-menu">
    <div class="brand">Brand Logo</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

    <div class="menu-list">


        <ul id="menu-content" class="menu-content collapse out">
            {#---------------------------------- DASHBOARD ----------------------------------#}
            <li data-toggle="collapse" data-target="#dashboard"
                class="collapsed {% if route == 'dashboard_index' %}active{% endif %}">
                <a href="{{ path('dashboard_index') }}">
                    <i class="fa fa-dashboard fa-lg fa-fw"></i> Dashboard
                </a><span class="badge">5</span>
            </li>

            {#---------------------------------- JOBS ----------------------------------#}
            <li data-toggle="collapse" data-target="#services"
                class="collapsed {% if 'services' in app.request.uri %}active{% endif %}">
                <a><i class="fa fa-calendar-check-o fa-lg fa-fw"></i> Services <span
                            class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="services">
                <li class="{% if route == 'service_list' %}active{% endif %}"><a
                            href="{{ path('service_list') }}">All
                        Services</a></li>
                <li class="{% if route == 'service_new' %}active{% endif %}"><a
                            href="{{ path('service_new') }}">Add
                        New</a></li>
            </ul>


            {#---------------------------------- TASKS ----------------------------------#}
            <li data-toggle="collapse" data-target="#tasks"
                class="collapsed {% if 'tasks' in app.request.uri or 'taskfields' in app.request.uri %}active{% endif %}">
                <a href="#"><i class="fa fa-tasks fa-lg fa-fw"></i> Tasks <span
                            class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="tasks">
                <li class="{% if route == 'task_list' %}active{% endif %}"><a
                            href="{{ path('task_list') }}">All Tasks</a></li>
                <li class="{% if route == 'task_new' %}active{% endif %}"><a
                            href="{{ path('task_new') }}">Add New</a></li>
                <li class="{% if route == 'taskfield_list' %}active{% endif %}"><a
                            href="{{ path('taskfield_list') }}">All Task Fields</a></li>
                <li class="{% if route == 'taskfield_new' %}active{% endif %}"><a
                            href="{{ path('taskfield_new') }}">Add New Task Field</a></li>
            </ul>


            {#---------------------------------- CATEGORIES ----------------------------------#}
            <li data-toggle="collapse" data-target="#categories"
                class="collapsed {% if 'categories' in app.request.uri %}active{% endif %}">
                <a href="#"><i class="fa fa-file-text-o fa-lg fa-fw"></i> Categories <span
                            class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="categories">
                <li class="{% if route == 'category_list' %}active{% endif %}"><a
                            href="{{ path('category_list') }}">All Categories</a></li>
                <li class="{% if route == 'category_new' %}active{% endif %}"><a
                            href="{{ path('category_new') }}">Add New</a></li>
            </ul>


            {#---------------------------------- VEHICLES ----------------------------------#}
            <li data-toggle="collapse" data-target="#new"
                class="collapsed {% if 'vehicles' in app.request.uri %}active{% endif %}">
                <a href="#"><i class="fa fa-car fa-lg"></i> Vehicles <span
                            class="arrow"></span></a>
            </li>
            <ul class="sub-menu collapse" id="new">
                <li class="{% if route == 'vehicle_list' %}active{% endif %}"><a
                            href="{{ path('vehicle_list') }}">All Vehicles</a></li>
                <li class="{% if route == 'vehicle_new' %}active{% endif %}"><a
                            href="{{ path('vehicle_new') }}">Add New</a></li>
            </ul>


            {#---------------------------------- PROFILE ----------------------------------#}
            <li>
                <a href="{{ path('fos_user_profile_show') }}">
                    <i class="fa fa-user fa-lg fa-fw"></i> Profile
                </a>
            </li>

            {#---------------------------------- CONTACTS ----------------------------------#}
            <li>
                <a href="#">
                    <i class="fa fa-users fa-lg fa-fw"></i> Contacts
                </a>
            </li>
        </ul>
    </div>
</div>
