{{ form_start(vehicleForm) }}

    {#{{ form_row(vehicleForm.year) }}#}
    {#{{ form_row(vehicleForm.make) }}#}
    {#{{ form_row(vehicleForm.model) }}#}
    {#{{ form_row(vehicleForm.trim) }}#}

{#<button type="submit" class="btn btn-primary" formnovalidate>Save</button>#}
{{ form_end(vehicleForm) }}
