{% extends 'base.html.twig' %}


{% block body %}
    <h2>Edit Vehicle</h2>

    {{ form(vehicleForm) }}

    <div id="dialog" title="New Vehicle Info" style="display: none;">
        <p>Please add vehicle details that you may need in the future (tire size, motor oil type, door lock code
            etc.)</p><br>
        {{ form(infoForm) }}
    </div>
{% endblock %}

{% block rightSidebar %}
    <a
            href="{{ path('vehicle_show', {'id':vehicle.id}) }}"
            class="btn btn-info btn-block"
            role="button">View</a>
    <a
            {#href="{{ path('vehicle_delete', {'id':vehicle.id}) }}"#}
            class="btn btn-danger btn-block deleteVehicle {% if vehicle.status == 'D' %}disabled{% endif %}"
            role="button">Delete</a>
    <br/>
    <a
            {#href="{{ path('') }}"#}
            id="newInfoButton"
            class="btn btn-default btn-block {% if vehicle.status == 'D' %}disabled{% endif %}"
            role="button">New Info</a>
    <a
            href="{{ path('vehicle_new') }}"
            class="btn btn-success btn-block"
            role="button">Add Vehicle</a>
    <br/>
    <a
            href="{{ path('job_new') }}"
            class="btn btn-default btn-block"
            role="button">New Job</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {

            var name = $("#app_bundle_vehicle_info_name"),
                value = $("#app_bundle_vehicle_info_value"),
                allFields = $([]).add(name).add(value);

            // Store the dialog in a variable
            var infoDialog = $('#dialog').dialog({
                modal: true,
                autoOpen: false,
                width: 400,
                buttons: {
                    Save: function () {
                        onSave();
                    },
                    Cancel: function () {
                        $(this).dialog("close");
                    }
                },
                close: function () {
                    form[0].reset();
                    allFields.removeClass("ui-state-error");
                }
            });

            var form = infoDialog.find("form");

            form.on("submit", function (event) {
                event.preventDefault();
                onSave();
            });

            // Open the dialog when the button is clicked
            $('#newInfoButton').click(function () {
                infoDialog.dialog("open")
            });

            function onSave() {

                var formSerialize = form.serialize();
                var message = '';

                infoDialog.dialog("close");
                $("#loading").show();

                $.ajax({
                    type: 'POST',
                    url: '{{ path('vehicle_info_add') }}',
                    data: formSerialize,
                    dataType: 'JSON',
                    statusCode: {
                        404: function () {
                            message = 'Page not found';
                        }
                    },
                    success: function (data) {
                        $("#loading").hide();
//                        infoDialog.html('<p>' + data['message'] + '</p>');
//                        infoDialog.dialog({
//                            buttons: {
//                                Close: function () {
//                                    $(this).dialog("close");
//                                }
//                            }
//                        });
                    },
                    error: function (data) {
                        $("#loading").hide();

                        infoDialog.html('<p>' + data['message'] + '</p>');
                        infoDialog.dialog({
                            buttons: {
                                Close: function () {
                                    $(this).dialog("close");
                                }
                            }
                        });
                    },
                });
            }

        });

    </script>

{% endblock %}
