{% extends 'base.html.twig' %}

{% block body %}
    <h2>My Vehicles</h2>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Year</th>
            <th>Make</th>
            <th>Model</th>
            <th>Trim</th>
            <th>Jobs</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for vehicle in vehicles %}
            <tr>
                <td>{{ vehicle.year }}</td>
                <td>{{ vehicle.make }}</td>
                <td>{{ vehicle.model }}</td>
                <td>{{ vehicle.trim }}</td>
                <td><a href="{{ path('vehicle_job_list', {'id':vehicle.id}) }}">View</a></td>
                <td style="width: 1%; white-space: nowrap;">
                    <a href="{{ path('vehicle_show', {'id':vehicle.id}) }}" class="btn btn-xs btn-success"><span
                                class="fa fa-eye"></span></a>
                    <a href="{{ path('vehicle_edit', {'id':vehicle.id}) }}" class="btn btn-xs btn-success"><span
                                class="fa fa-pencil"></span></a>
                    <a class="btn btn-xs btn-danger deleteVehicle {% if vehicle.status != 'A' %}disabled{% endif %}"
                       vehicleId="{{ vehicle.id }}"
                       title="Delete this Vehicle"
                       ng-click="showConfirm($event, {{ vehicle.id }})"><span
                                class="fa fa-trash"></span></a>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <div id="dialog" title="Delete the Vehicle?" style="display: none;">
        <p></p>
    </div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.deleteVehicle').click(function () {
                var vehicleId = $(this).attr("vehicleId");
                var deleteButton = $(this);

                $("#dialog").find("p").html('<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This Vehicle will be permanently deleted and cannot be recovered. Are you sure?');

                openDeleteDialog("#dialog", "Delete the Vehicle?", "/vehicles/" + vehicleId, deleteButton);
            });
        });
    </script>

{% endblock %}
