{% extends 'base.html.twig' %}

{% block title %}{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        table.customTable {
            width: auto;
        }

        table.customTable > tbody > tr > th {
            padding-right: 50px !important;
        }
    </style>
{% endblock %}

{% block body %}
    <h2>Vehicle: {{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</h2>

    <table class="table table-hover customTable">
        <tbody>
        <tr>
            <th>Maintenance History:</th>
            <td><a href="{{ path('vehicle_job_list', {'id':vehicle.id}) }}">Click here to view</a></td>
        </tr>
        <tr>
            <th>Year:</th>
            <td>{{ vehicle.year }}</td>
        </tr>
        <tr>
            <th>Make:</th>
            <td>{{ vehicle.make }}</td>
        </tr>
        <tr>
            <th>Model:</th>
            <td>{{ vehicle.model }}</td>
        </tr>
        <tr>
            <th>Trim:</th>
            <td>{{ vehicle.trim }}</td>
        </tr>
        <tr>
            <th>Color:</th>
            <td>{{ vehicle.color }}</td>
        </tr>
        <tr>
            <th>Transmission:</th>
            <td>{{ vehicle.transmissionType }}</td>
        </tr>
        <tr>
            <th>Fuel Type:</th>
            <td>{{ vehicle.fuelType }}</td>
        </tr>
        <tr>
            <th>Engine:</th>
            <td>{{ vehicle.engineSize }}</td>
        </tr>
        <tr>
            <th>Passengers:</th>
            <td>{{ vehicle.passengers }}</td>
        </tr>
        <tr>
            <th>Mileage:</th>
            <td>{{ vehicle.mileage }}</td>
        </tr>
        <tr>
            <th>Mileage Type:</th>
            <td>{{ vehicle.mileageType }}</td>
        </tr>
        <tr>
            <th>Description:</th>
            <td>{{ vehicle.description }}</td>
        </tr>
        <tr>
            <th>Purchased On:</th>
            <td>{{ vehicle.purchasedAt|date('F j, Y') }}</td>
        </tr>
        <tr>
            <th>Purchase Price:</th>
            <td>${{ vehicle.price|number_format }}</td>
        </tr>
        <tr>
            <th>Status:</th>
            <td>{{ vehicle.status }}</td>
        </tr>
        </tbody>
    </table>

    <h4>More Vehicle Details</h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Value</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for thisInfo in info %}
            <tr>
                <td>{{ thisInfo.name }}</td>
                <td>{{ thisInfo.value }}</td>
                <td>
                    {#<a href="{{ path('vehicle_show', {'id':vehicle.id}) }}" class="btn btn-xs btn-success"><span#}
                    {#class="fa fa-eye"></span></a>#}
                    <a href="{{ path('vehicle_edit', {'id':vehicle.id}) }}"
                       class="btn btn-xs btn-success {% if vehicle.status != 'A' %}disabled{% endif %}"><span
                                class="fa fa-pencil"></span></a>
                    <a class="btn btn-xs btn-danger deleteVehicle {% if vehicle.status != 'A' %}disabled{% endif %}"
                       vehicleId="{{ vehicle.id }}"
                       title="Delete this Vehicle"
                       ng-click="showConfirm($event, {{ vehicle.id }})"><span
                                class="fa fa-trash"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="dialog" title="Delete the Vehicle?" style="display: none;">
        <p></p>
    </div>
{% endblock %}

{% block rightSidebar %}
    <a
            href="{{ path('vehicle_edit', {'id':vehicle.id}) }}"
            class="btn btn-primary btn-block {% if vehicle.status == 'D' %}disabled{% endif %}"
            role="button">Edit</a>
    <a
            {#href="{{ path('vehicle_delete', {'id':vehicle.id}) }}"#}
            class="btn btn-danger btn-block deleteVehicle {% if vehicle.status == 'D' %}disabled{% endif %}"
            role="button">Delete</a>
    <a
            href="{{ path('vehicle_new') }}"
            class="btn btn-success btn-block"
            role="button">Add Vehicle</a>
    <br/>
    <a
            href="{{ path('job_new') }}"
            class="btn btn-default btn-block"
            role="button">New Job</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.deleteVehicle').click(function () {
                var deleteButton = $(this);

                $("#dialog").find("p").html('<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This Vehicle will be permanently deleted and cannot be recovered. Are you sure?');

                openDeleteDialog("#dialog", "Delete the Vehicle?", "/vehicles/" + {{ vehicle.id }}, deleteButton);
            });
        });
    </script>

{% endblock %}
