{% extends 'base.html.twig' %}

{% block body %}
    <h2>Tasks</h2>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Created</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.description }}</td>
                <td>{{ task.category.name }}</td>
                <td>{{ task.createdAt|date("F j, Y") }}</td>
                <td style="width: 1%; white-space: nowrap;">
                    <a href="" class="btn btn-xs btn-success"><span
                                class="fa fa-eye"></span></a>
                    <a href="{{ path('task_edit', {'id':task.id}) }}" class="btn btn-xs btn-success"><span
                                class="fa fa-pencil"></span></a>
                    {% if task.status == 'A' %}
                        <a href="#" class="btn btn-xs btn-danger"
                           ng-click="showConfirm($event)"><span
                                    class="fa fa-trash"></span></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}

{% endblock %}
