{% extends 'base-2-col.html.twig' %}

{% block body %}
    <h2>Tasks</h2>

    {% if tasks|length == 0 %}
        <p>You haven't added any task. <a href="{{ path('task_new') }}">Add one</a> now.</p>
    {% else %}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Created</th>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>Owner</th>
                {% endif %}
                <th>Type</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.description }}</td>
                    <td><a href="{{ path('category_show', {'id':task.category.id}) }}">{{ task.category.name }}</a></td>
                    <td>{{ task.createdAt|date("F j, Y") }}</td>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <td>{{ task.createdBy }}</td>
                    {% endif %}
                    <td>{{ task.type }}</td>
                    <td style="width: 1%; white-space: nowrap;">
                        <a href="{{ path('task_show', {'id':task.id}) }}" class="btn btn-xs btn-info"><span
                                    class="fa fa-eye"></span></a>
                        <a href="{{ path('task_edit', {'id':task.id}) }}"
                           class="btn btn-xs btn-warning editTask {% if task.status != 'A' %}disabled{% endif %}"><span
                                    class="fa fa-pencil"></span></a>
                        <a class="btn btn-xs btn-danger deleteTask {% if task.status != 'A' %}disabled{% endif %}"
                           taskId="{{ task.id }}"
                           title="Delete this Task"
                           ng-click="showConfirm($event, {{ task.id }})"><span
                                    class="fa fa-trash"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {#Pagination#}
        <div class="navigation text-center">
            {{ knp_pagination_render(tasks) }}
        </div>
    {% endif %}

{% endblock %}

{% block rightSidebar %}
    <a
            href="{{ path('task_new') }}"
            class="btn btn-success btn-block"
            role="button">New</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {

            $('.deleteTask').click(function () {
                var taskId = $(this).attr("taskId");
                $("#dialog").find("p").html('<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This Task will be permanently deleted and cannot be recovered. Are you sure?');

                openDeleteDialog("#dialog", "Delete the Task?", "/tasks/" + taskId, afterDelete, taskId);
            });
        });

        function afterDelete() {
            $('.deleteTask[taskId=' + id + ']').addClass('disabled');
            $('.deleteCategory[taskId=' + id + ']').prev().addClass('disabled');
        }
    </script>

{% endblock %}
