{% extends 'base.html.twig' %}

{% block title %}Task: {{ task.name }}{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        table.customTable {
            width: auto;
        }

        table.customTable > tbody > tr > th {
            padding-right: 50px !important;
        }
    </style>
{% endblock %}

{% block body %}
    <h2>Task: {{ task.name }}</h2>

    <table class="table table-hover thisTable">
        <tbody>
        <tr>
            <th>Name:</th>
            <td>{{ task.name }}</td>
        </tr>
        <tr>
            <th>Description:</th>
            <td>{{ task.description }}</td>
        </tr>
        <tr>
            <th>Category:</th>
            <td><a href="{{ path('category_show', {'id':task.category.id}) }}">{{ task.category.name }}</a></td>
        </tr>
        <tr>
            <th>Created:</th>
            <td>{{ task.createdAt|date('F j, Y') }} by {{ task.createdBy }}</td>
        </tr>
        <tr>
            <th>Type:</th>
            <td>{{ task.type }}</td>
        </tr>
        <tr>
            <th>Status:</th>
            <td>{{ task.status }}</td>
        </tr>
        </tbody>
    </table>

    <br>
    <br>
    <h4>Task Fields</h4>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Name</th>
            {#<th>Default</th>#}
            <th>Created</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        {% for field in fields %}
            <tr>
                <td>{{ field.name }}</td>
                {#<td>{{ field.defaultValue }}</td>#}
                <td>{{ field.createdAt|date('F j, Y') }} by {{ field.createdBy }}</td>
                <td style="width: 1%; white-space: nowrap;">
                    <a href="{{ path('taskfield_show', {'id':field.id}) }}" class="btn btn-xs btn-success"><span
                                class="fa fa-eye"></span></a>
                    <a href="{{ path('taskfield_edit', {'id':field.id}) }}"
                       class="btn btn-xs btn-success editField"><span
                                class="fa fa-pencil"></span></a>
                    <a class="btn btn-xs btn-danger deleteField {% if field.status != 'A' %}disabled{% endif %}"
                       fieldId="{{ field.id }}"
                       title="Delete this Field"
                       ng-click="showConfirm($event, {{ field.id }})"><span
                                class="fa fa-trash"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div id="dialog" title="Delete the Task?" style="display: none;">
        <p></p>
    </div>
{% endblock %}

{% block rightSidebar %}
    <a
            id="editTaskButton"
            href="{{ path('task_edit', {'id':task.id}) }}"
            class="btn btn-primary btn-block {% if task.status == 'D' %}disabled{% endif %}"
            role="button">Edit</a>
    <a
            id="deleteTaskButton"
            {#href="{{ path('task_delete', {'id':task.id}) }}"#}
            class="btn btn-danger btn-block {% if task.status == 'D' %}disabled{% endif %}"
            role="button">Delete</a>
    <a
            href="{{ path('task_new') }}"
            class="btn btn-success btn-block"
            role="button">Add Task</a>
    <br/>
    <a
            id="addFieldButton"
            href="{{ path('taskfield_new') }}"
            class="btn btn-default btn-block {% if task.status == 'D' %}disabled{% endif %}"
            role="button">Add a Field</a>
    <a
            id="newJobButton"
            href="{{ path('job_new', {'task':task.id}) }}"
            class="btn btn-default btn-block {% if task.status == 'D' %}disabled{% endif %}"
            role="button">New Job</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.deleteTask').click(function () {
                var deleteButton = $(this);

                $("#dialog").find("p").html('' +
                    '<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>' +
                    'This Task will be permanently deleted and cannot be recovered. Are you sure?');

                openDeleteDialog("#dialog", "Delete the Task?", "/tasks/" + {{ task.id }}, afterDeleteTask,{{ task.id }});
            });

            $('.deleteField').click(function () {
                var fieldId = $(this).attr('fieldId');

                $("#dialog").find("p").html('' +
                    '<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>' +
                    'This Field will be permanently removed from the Task and cannot be recovered. Are you sure?');

                openDeleteDialog("#dialog", "Delete the Field?", "/taskfields/" + fieldId, afterDeleteField, fieldId);
            });
        });

        function afterDeleteTask(id) {
            $('#deleteTaskButton').addClass('disabled');
            $('#editTaskButton').addClass('disabled');
            $('#addFieldButton').addClass('disabled');
            $('#newJobButton').addClass('disabled');
            $('.editField').addClass('disabled');
            $('.deleteField').addClass('disabled');
        }

        function afterDeleteField(id) {
            $('.deleteField[fieldId=' + id + ']').addClass('disabled');
            $('.deleteField[fieldId=' + id + ']').prev().addClass('disabled');
        }

    </script>

{% endblock %}

