{% extends 'base.html.twig' %}

{% block title %}Task: {{ task.name }}{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        table.thisTable {
            width: auto;
        }

        table.thisTable > tbody > tr > th {
            padding-right: 50px !important;
        }
    </style>
{% endblock %}

{% block body %}
    <h2>Task: {{ task.name }}</h2>

    <table class="table table-hover thisTable">
        <tbody>
        <tr>
            <th>Name:</th>
            <td>{{ task.name }}</td>
        </tr>
        <tr>
            <th>Description:</th>
            <td>{{ task.description }}</td>
        </tr>
        <tr>
            <th>Category:</th>
            <td><a href="{{ path('category_show', {'id':task.category.id}) }}">{{ task.category.name }}</a></td>
        </tr>
        <tr>
            <th>Created:</th>
            <td>{{ task.createdAt|date('F j, Y') }} by {{ task.createdBy }}</td>
        </tr>
        <tr>
            <th>Type:</th>
            <td>{{ task.type }}</td>
        </tr>
        <tr>
            <th>Status:</th>
            <td>{{ task.status }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}

{% block rightSidebar %}
    <a
            href="{{ path('task_edit', {'id':task.id}) }}"
            class="btn btn-primary btn-block"
            role="button">Edit</a>
    <a
            href="{{ path('task_delete', {'id':task.id}) }}"
            class="btn btn-danger btn-block {% if task.status == 'D' %}disabled{% endif %}"
            role="button">Delete</a>
    <a
            href="{{ path('taskfield_new') }}"
            class="btn btn-default btn-block"
            role="button">Add a Field</a>
    <a
            href="{{ path('job_new', {'task':task.id}) }}"
            class="btn btn-default btn-block {% if task.status == 'D' %}disabled{% endif %}"
            role="button">New Job from Task</a>
{% endblock %}
