{% extends 'base-2-col.html.twig' %}

{% block body %}
    <h2>Services</h2>

    {% if services|length == 0 %}
        <p>You haven't added any service. <a href="{{ path('service_new') }}">Add one</a> now.</p>
    {% else %}
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Vehicle</th>
                <th>Task</th>
                <th>Mileage</th>
                <th>Completed</th>
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <th>Owner</th>
                {% endif %}
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr>
                    <td><a href="{{ path('vehicle_show', {'id':service.vehicle.id}) }}">{{ service.vehicle.name }}</a>
                    </td>
                    <td>{{ service.task.name }}</td>
                    <td>{{ service.mileage|number_format }} {{ service.vehicle.mileageType }}</td>
                    <td>{{ service.createdAt|date('F j, Y') }}</td>
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                        <td>{{ service.createdBy }}</td>
                    {% endif %}
                    <td style="text-align: right; width: 1%; white-space: nowrap;">
                        <a href="{{ path('service_show', {'id':service.id}) }}" class="btn btn-xs btn-info">
                            <span class="fa fa-eye"></span>
                        </a>
                        <a href="{{ path('service_edit', {'id':service.id}) }}"
                           class="btn btn-xs btn-warning editService {% if service.status != 'A' %}disabled{% endif %}">
                            <span class="fa fa-pencil"></span>
                        </a>
                        <a class="btn btn-xs btn-danger deleteService {% if service.status != 'A' %}disabled{% endif %}"
                           serviceId="{{ service.id }}"> <span class="fa fa-trash"></span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {#Pagination#}
        <div class="navigation text-center">
            {{ knp_pagination_render(services) }}
        </div>
    {% endif %}

{% endblock %}

{% block rightSidebar %}
    <a
            href="{{ path('service_new') }}"
            class="btn btn-success btn-block"
            role="button">New</a>
{% endblock %}


{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('.deleteService').click(function () {

                var serviceId = $(this).attr("serviceId");

                $("#dialog").find("p").html('<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This Service will be permanently deleted and cannot be recovered. Are you sure?');

                openDeleteDialog("#dialog", "Delete the Service?", "/services/" + serviceId, afterDelete, serviceId);
            });
        });

        function afterDelete(id) {
            $('.deleteService[serviceId=' + id + ']').addClass('disabled');
            $('.deleteService[serviceId=' + id + ']').prev().addClass('disabled');
        }
    </script>

{% endblock %}
