{% extends 'base.html.twig' %}

{% block title %}Service Details{% endblock %}

{% block body %}
    <h2>Service Details</h2>

    <table class="table table-hover customTable">
        <tbody>
        <tr>
            <th>Vehicle</th>
            <td>
                <a href="{{ path('vehicle_show', {'id':service.vehicle.id}) }}">{{ service.vehicle.name }}</a>
            </td>
        </tr>
        <tr>
            <th>Task</th>
            <td><a href="{{ path('task_show', {'id':service.task.id}) }}">{{ service.task.name }}</a></td>
        </tr>
        <tr>
            <th>Mileage</th>
            <td>{{ service.mileage|number_format }} {{ service.vehicle.mileageType }}</td>
        </tr>
        <tr>
            <th>Reminder</th>
            <td>{% if service.intervalMonths > 0 %}{{ service.intervalMonths }} months{% endif %}</td>
        </tr>
        <tr>
            <th>Notes</th>
            <td>{{ service.notes }}</td>
        </tr>
        <tr>
            <th>Completed</th>
            <td>{{ service.createdAt|date('F j, Y') }} by {{ service.createdBy.username }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ service.status }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}

{% block rightSidebar %}
    <a
            href="{{ path('service_list') }}"
            class="btn btn-info btn-block"
            role="button">View All</a>
    <a
            id="editServiceButton"
            href="{{ path('service_edit', {'id':service.id}) }}"
            class="btn btn-warning btn-block {% if service.status == 'D' %}disabled{% endif %}"
            role="button">Edit</a>
    <a
            id="deleteServiceButton"
            {#href="{{ path('service_delete', {'id':service.id}) }}"#}
            class="btn btn-danger btn-block {% if service.status == 'D' %}disabled{% endif %}"
            role="button">Delete</a>
    <a
            href="{{ path('service_new') }}"
            class="btn btn-success btn-block"
            role="button">New</a>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#deleteServiceButton').click(function () {
                console.log('clicked delete');
                $("#dialog").find("p").html('<span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>This Service will be permanently deleted and cannot be recovered. Are you sure?');

                openDeleteDialog("#dialog", "Delete the Service?", '{{ path('service_delete', {'id':service.id}) }}', afterDelete);
            });
        });

        function afterDelete() {
            $('#deleteServiceButton').addClass('disabled');
            $('#editServiceButton').addClass('disabled');
        }
    </script>

{% endblock %}

